<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header class="mi-header">
    <h1>PORTAFOLIO MIJAEL ANDER CALLEJAS AGUIRRE</h1>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#proyectos">Servicios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div id="inicio">
        <h2>Ingenieria en software</h2>
        <p>Estudiante de sexto semestre de la UCB de ingenieria de software</p>
    </div>
    <div id="proyectos">
        <h2>Pagina de comida</h2>
        <p>Proyecto universitario de una pagina web de venta de comida</p>
        <p href="https://rhcustomremix.miraheze.org/wiki/Heaven_Studio_(Touhou_Build)">enlace</p>
        <h2>Heaven Studio: Touhou Build</h2>
        <p>Proyecto basado en el codigo principal de Heaven Studio donde e implementado y recreado los minijuegos del juego Touhou Rhythm Carnival Kurenai</p>
        <p href="https://rhcustomremix.miraheze.org/wiki/Heaven_Studio_(Touhou_Build)">enlace</p>
    </div>
    <div id="contacto">
        <h2>Numero: 74669036</h2>
        <h2>Email: soysakia44@gmail.com</h2>
    </div>
    <footer class="mi-footer">
    <div class="footer-inferior">
        <p>&copy; ISW-233 2026</p>
    </div>
    </footer>
</body>
</html>
