<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#proyectos">Servicios</a></li>
            <li><a href="#info">Contacto</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    <h1>PORTAFOLIO MIJAEL ANDER CALLEJAS AGUIRRE</h1>
</body>
</html>
