<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#proyectos">Servicios</a></li>
            <li><a href="#info">Contacto</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    <h1>PORTAFOLIO MIJAEL ANDER CALLEJAS AGUIRRE</h1>
    <div id="inicio">
        <h2>Ingenieria en software</h2>
    </div>
    <div id="proyectos">
        <h2>Pagina de comida</h2>
        <h2>Juego</h2>
    </div>
    <div id="info">
        <h2>Detalles personales:</h2>
        <h2>Experiencia: </h2>
    </div>
    <div id="contacto">
        <h2>Numero:</h2>
        <h2>Email: </h2>
    </div>
</body>
</html>
